<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      
      {{#if showTests}}
            <link rel="stylesheet" href="/vendor/mocha.css"> 
      {{/if}}
      <!--
      <script src="/jquery/jquery-2.2.0.min.js"></script>
      <script src="/jquery/jquery-ui-1.11.4/jquery-ui.js"></script>
      <script src="/jquery/jquery-ui-1.11.4/jquery-ui.theme.css"></script>
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--  <link rel="icon" href="../../favicon.ico">-->

    <title>物资供应管理系统</title>

      <!-- 调试需要jquery在此处引入 -->
      <!--静态资源直至从 public 下开始写路径，无需 ../../public/jquery  -->
      <script src="/jquery/jquery-3.1.0.min.js"></script>
      <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active" id="username"><a href="/users/login">登录</a></li>
            <li><a href="/users/reg" id="reg">注册</a></li>
            <li><a href="/users/logout">退出</a></li>
     <!--       <li><a href="/users/about">数据库测试</a></li>-->
     <!--       <li><a href="/statistics/in_st">收料统计</a></li>  -->
            <li><a href="/statistics/in_st_querypage">收料分类</a></li>            
           <!-- <li><a href="/statistics/in_detail">明细</a></li>  -->
                     
            <!-- <li><a href="/statistics/in_wz_search">物资信息查询</a></li>  -->
            <li><a href="/statistics/in_wz_search_querypage">收料明细</a></li>
            <li><a href="/statistics/div_summary">供应科总结</a></li>

            <li><a href="/statistics/in_wz_search_querypage">查询条件页</a></li>           
            
            
            <li><a href="/users/testjavascript">JS测试</a></li>
            <li><a href="/users/newsletter">form test</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/statistics/div_summary_edit">api测试不带参数</a></li>

                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container theme-showcase" role="main">     -->

      <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <!-- 
        <h1>正确地做事  不要走捷径</h1>
        <p>当你不知道该做什么的时候，就把手头的每件小事做好；当你不知道怎么开始时，就把离你最近的事情做好。</p>
      -->
        </div>
       </div>      
    
         {{#if flash}}
             <div class="alert alert-dismissible alert-{{flash.type}}">
                 <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">&times;<button>
                 <strong>{{flash.intro}}</strong> {{{flash.message}}}
                </div>
       {{/if}}     
    
    
    
    
<div class="page-header"> 
          {{{body}}}
  
<div>
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!--  为了调试需要，此处引用放到页首head，版本该用jquery 2-->
    <!--    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>   -->
    
    
      <script src="/bootstrap/js/bootstrap.min.js"></script>

    
    
    {{#if showTests}}
            <div id="mocha">hello</div>
            <script src="/vendor/mocha.js"></script> <script src="/vendor/chai.js"></script> <script>
                    mocha.ui('tdd');
                    var assert = chai.assert; </script>
            <script src="/qa/tests-global.js"></script> {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script> {{/if}}
            <script>mocha.run();</script> 
    {{/if}}
    
    

<nav class="navar navar-default navbar-fixed-bottom">
  <div class = "container">
      <p>&copy; 版权所有 iweekend.org 2016</p>
  </div>
</nav>

  </body>
</html>
