
        <button id ="div_but" class="btn btn-primary" type="button" >查询</button>
        
        <button id ="div_but_edit_month" class="btn btn-primary" type="button" >查询月份</button>
        
        <button id ="div_but_insert" onclick ='get_data()' class="btn btn-primary" type="button" >插入月份</button>
        
        <button id ="div_but_create"  class="btn btn-primary" type="button" >插入月份</button>
        
        
<div id="dialog-form" title="Create new user">

  <p ">All form fields are required.</p>

 

  <form>

    <fieldset>

      <label for="name">Name</label>

      <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">

      <label for="email">Email</label>

      <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">

      <label for="password">Password</label>

      <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">

 

      <!-- Allow form submission with keyboard without duplicating the dialog button -->

      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

    </fieldset>

  </form>

</div>


        

       
        <div id = "div_table">按按钮<div>

<script id="divTemplate" type="text/x-handlebars-template"> 

        
        
        
 <div class="page-header">
        <h1>供应科月度经济活动分析数据</h1>



 

          <table class="table table-striped" >
            <thead>
              <tr>
                <th>功能</th>
                <th>月份</th>
                <th>供应额</th>
                <th>总公司采购</th>
                <th>机电</th>
                <th>机车</th>
                <th>车辆</th>
                <th>工务</th>
                <th>钢轨（t）</th>
                <th>钢轨（万元）</th>
                <th>柴油（t）</th>
                <th>柴油（万元）</th>
                <th>柴油低烧（t）</th>
                
              </tr>
            </thead>
            <tbody>
     \{{#each DIV_SUMMARY}}
              <tr>
                <td><a id='\{{NY_ID}}' href='#'> \{{NY_ID}} </a></td>  
                <td>\{{NY_ID}}</td>
                <td>\{{GYE}}</td>
                <td>\{{ZGS_HJ}}</td>       
                <td>\{{JD_HJ}}</a></td>
                <td>\{{JC_HJ}}</td>
                <td>\{{CL_HJ}}</td>
                <td>\{{GW_HJ}}</td>
                <td>\{{GG_T}}</td>
                <td>\{{GG_JE}}</td>
                <td>\{{CY_T}}</a></td>
                <td>\{{CY_JE}}</td>
                <td>\{{CY_DS_T_HJ}}</td>
              </tr>
     \{{/each}}
 
            </tbody>
          </table>
</div>


</script>

<script>
         $(document).ready(function(){
                    var divTemplate = Handlebars.compile(
                            $('#divTemplate').html());
            });
            
            
            var divTemplate = Handlebars.compile(
                                    $('#divTemplate').html());
            
            
            $('#div_but').on('click', function(evt){ 
                evt.preventDefault();
                $.ajax('api_div_summary', { 
                    success: function(data){
                        $('#div_table').html(
                            divTemplate({DIV_SUMMARY : data}))

                      } 
                });
                             
            });

            $('#div_but_edit_month').on('click', function(evt){ 
                evt.preventDefault();
                $.ajax('api_div_summary?ny_id=201501', { 
                    success: function(data){
                        $('#div_table').html(
                            divTemplate({DIV_SUMMARY : data}))

                      } 
                });
                             
            });

            function get_data (ny_id){
                
                $.ajax('api_div_summary?ny_id=201601', { 
                    success: function(data){
                        $('#div_table').html(
                            divTemplate({DIV_SUMMARY : data}))

                      } 
                });
                
            }
            
            
    function addUser() {

      var valid = true;

      allFields.removeClass( "ui-state-error" );

 

      valid = valid && checkLength( name, "username", 3, 16 );

      valid = valid && checkLength( email, "email", 6, 80 );

      valid = valid && checkLength( password, "password", 5, 16 );

 

      valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );

      valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );

      valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );

 

      if ( valid ) {

        $( "#users tbody" ).append( "<tr>" +

          "<td>" + name.val() + "</td>" +

          "<td>" + email.val() + "</td>" +

          "<td>" + password.val() + "</td>" +

        "</tr>" );

        dialog.dialog( "close" );

      }

      return valid;

    }

            
            

$( document ).ready(function() {
    dialog = $( "#dialog-form" ).dialog({

      autoOpen: false,

      height: 300,

      width: 350,

      modal: true,

      buttons: {

        "Create an account": addUser,

        Cancel: function() {

          dialog.dialog( "close" );

        }

      },

      close: function() {

        form[ 0 ].reset();

        allFields.removeClass( "ui-state-error" );

      }

    });

 

    form = dialog.find( "form" ).on( "submit", function( event ) {

      event.preventDefault();

      addUser();

    });

 

    $( "#div_but_create" ).button().on( "click", function() {

      dialog.dialog( "open" );

    });

});
    




</script>